.card-content {
  background-color: var(--gray400);
  padding: 16px;
  border-radius: var(--border-radius-1);
  border-left: 4px solid var(--brand-sec100);
}
.card-info {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}
.total-btn {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.total-btn img {
  cursor: pointer;
}
